<!DOCTYPE html>
<html>
<head>
  <title>Tourism and Housing in Andalucía</title>
  <style>
    body {
      margin: 5vw 25vw 5vw 25vw;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    img, iframe {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    img {
      width: 50%;
    }

    iframe {
      width: 100%;
      height: 40vh;
    }
  </style>
</head>
<body>
  <h1>Tourism and Housing in Andalucía</h1>
  <h4>by Jaya Subrahmanyan</h4>
  <img src='/static/images/malaga_para_vivir.jpg'/>
  <p>
    Spain was the world's <a href="https://edition.cnn.com/travel/united-nations-tourism-data-2024-intl-hnk">second most-visited</a> country in 2024, with 98 million tourists, a number that continues to rise year over year as international tourism hits never-seen-before highs. As tourists from all over the world are drawn to the country's infamous food, architecture, and climate, many residents are increasingly concerned by the significant influx of tourism in major cities all over Spain, especially as it relates to cost of living and housing. 
  </p>
  <p>
    As a person living somewhere between short- and long-term in Spain, and specifically in Andalucía, an autonomous community with one of the <a href="https://ine.es/dyngs/Prensa/en/CRE2023.htm">lowest GDPs per capita</a> in Spain (25% below the national average), I want to be conscious of how my presence could affect my host community. Especially coming from a place with much higher salaries and costs of living, I am interested in learning how to live responsibly in a region where local housing prices and general costs of living are on the rise, ostensibly due to the influx of foreigners (like me). Having spent significant time in both Málaga and Sevilla, I decided to focus the majority of my research on these two cities. 
  </p>
  <p>
    According to the Spanish Center for Sociological Research, Spanish residents <a href="https://www.cis.es/documents/d/cis/es3510mar_a">believe</a> housing to be the most significant problem affecting the country of Spain. The issue that individuals feel most personally affected by, however, is the economic crisis or other problems of an economic nature, a topic that the country has been grappling with since the economic crisis of 2008.
  </p>
  <p>
    Tourism has played a significant role in bolstering the national economy, offering huge increases in revenue and a new market of jobs. <a href="https://www.ine.es/jaxiT3/Datos.htm?t=10839#_tabs-tabla">Tourism revenue</a> in Andalucía reached nearly €18.5 billion in 2024, making up around 14.6% of the €126 billion in all of Spain, which is relatively in line with its status as the most populous autonomous community in Spain, making up around 20% of the country’s population. The majority of tourism revenue in Spain comes from Andalucía, the Balearic and Canary Islands, Catalonia, Valencia, and Madrid.  
  </p>
  <p>
    Now, however, the rise of housing costs is what seems to be capturing national and international attention. In a <a href="https://www.cnn.com/2025/05/30/travel/why-airbnb-facing-trouble-spain">CNN investigation</a> into the effects of Airbnbs on Spain's housing market, it was found that “The price per square meter of house rentals has risen 85% nationwide in Spain over the last decade, according to data from the real estate <a href="https://www.idealista.com/sala-de-prensa/informes-precio-vivienda/alquiler/historico/">website Idealista</a>, with tourism and seasonal rentals viewed as key inflationary drivers.”
  </p>
  <h2>
    Dynamics of the Housing Market
  </h2>
  <p>
    In the Bank of Spain's <a href="https://www.bde.es/f/webbe/SES/Secciones/Publicaciones/PublicacionesAnuales/InformesAnuales/24/Fich/InfAnual_2024.pdf">2024 Annual Report</a>, a study was conducted on recent dynamics in the housing market, aiming to discover what has caused such an evolution in residential housing demand. The primary drivers for the rise in demand for housing were found to be general macroeconomic factors, demographic growth, and non-resident demand. 
  </p>
  <p>
    Over the past several years, there has been a relaxation of access to mortgages, alongside a reduction in interest rates, which has allowed more interested home buyers access to purchasing housing. Alongside a general increase in employment (up 2.2% from 2023), it could be argued that there is simply more financial capital within the country that has driven up demand for housing.
  </p>
  <p>
    There are approximately <a href="https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177095&menu=ultiDatos&idp=1254735572981">2.7 million</a> more inhabitants in Spain than there were in 2016, due largely to new foreign residents. Foreign-born residents have grown by nearly 3.5 million since 2016, outpacing the decrease in Spanish-born residents in the country, which has fallen by 800,000 in the same time period. The math here is simple: more residents means that more people need places to stay.
  </p>
  <p>
    Beyond the increase in residents, however, there is also a substantial housing demand driven by non-residents. In 2024, of all of the housing purchases and sales made in the country, 8.4% of them were conducted by non-residents. In tourist areas (on the islands and Mediterranean coast), these transaction rates are significantly higher. In Málaga province, 28.5% of housing transactions last year were conducted by non-residents (making it the second-highest rate behind Alicante, and ahead of the 26% in the Balearic Islands and 22% in Santa Cruz de Tenerife). 
  </p>
  <p>
    These purchases made by non-residents are largely considered to be tourist apartments, as by definition, the owners do not live more than half the year in Spain. The proliferation of tourist apartments has added an additional demand in tourist areas and in the centers of large cities. Looking at the distribution of registered tourist apartments in Málaga and Sevilla, the proportion of available housing in the center that has been designated for tourist accommodations is striking. 
  </p>
  <iframe src="/vivienda-malaga/en"></iframe>
  <iframe src="/vivienda-sevilla/en"></iframe>
  <h2>
    Government Intervention
  </h2>
  <p>
    In January of 2025, Spanish Prime Minister Pedro Sánchez (PSOE) <a href="https://www.bbc.com/news/articles/cr7enzjrymxo">announced</a> a plan to impose a tax of up to 100% on the value of properties bought by non-residents outside the EU. 
  </p>
  <p>
    On April 3rd, 2025, the “golden visa” was abolished after over a decade of awarding 14,576 of this type of visa, <a href="https://schengenvisainfo.com/news/spain-officially-ends-golden-visa-program-after-12-years/">95% of which</a> were issued in exchange for buying property worth €500,000 or more. The visa was <a href="https://www.bbc.com/news/world-europe-68761491">introduced</a> in 2013 by former Prime Minister Mariano Rajoy (PP), in an effort to attract foreign investment in the wake of the 2008 financial crisis. In 2023, nearly half of the 6,200 beneficiaries of the Golden Visa (2,712) were from China, followed by Russia (1,159), Iran (203), the U.S. (179), and the U.K. (177). The majority of golden visas were issued to Málaga, the Balearic Islands, Alicante, Girona, and Valencia.
  </p>
  <p>
    Around the same time as the national tax on new foreign residential investments was announced, the city of Málaga enacted a <a href="https://www.malaga.eu/visorcontenido/ANUDocumentDisplayer/176212/COMUNICADO.pdf">ban</a> on registering new tourist accommodations in 43 city neighborhoods, designated by areas in which tourist properties constitute more than 8% of the number of total available residential properties. 
  </p>
  <p>
    However, at the end of March, the mayor of Málaga, Francisco de la Torre, <a href="https://www.idealista.com/news/inmobiliario/vivienda/2025/03/31/838709-malaga-paralizara-las-nuevas-licencias-de-viviendas-turisticas-durante-los-proximos">announced</a> a pause in licenses for all new tourist accommodations for the next three years, <a href="https://www.surinenglish.com/malaga/malaga-city/not-one-more-city-mayor-halt-all-20250328120006-nt.html">citing fears</a> that neighborhoods not covered by the January legislative movement to attract a sudden jump in short-term rental apartments. 
  </p>
  <img src='/static/images/abolicion_airbnb.jpg'/>
  <p>
    Recently, Spain has also ordered the <a href="https://www.euronews.com/travel/2025/05/20/spain-orders-removal-of-more-than-65000-airbnb-tourist-rentals-it-says-violate-regulations">removal of more than 65,000 tourist rental listings</a> across the country that have been cited to comply with regulations. Violations include missing license numbers, not specifying whether or not the owner was a corporation, and discrepancies between information on the site and official records. 
  </p>
  <p>
    A spokesperson for Airbnb responded to the crackdown, arguing, "The root cause of the affordable housing crisis in Spain is a lack of supply to meet demand. The solution is to build more homes - anything else is a distraction." The spokesperson went on to add a unique perspective to the argument that Airbnbs do not serve their local communities, adding, "It only hurts local families who rely on hosting to afford their homes and rising costs."
  </p>
  <h2>
    Airbnb
  </h2>
  <iframe src="/airbnb-malaga/en"></iframe>
  <iframe src="/airbnb-sevilla/en"></iframe>
  <p>
    Beyond the controversies surrounding Airbnb's legality in Spain, the sheer cost (or income potential) of its properties is astounding. Considering that the <a href="https://ine.es/jaxiT3/Datos.htm?t=53689">average monthly salary</a> in Málaga is around €980, and only increases slightly to €1,000 in the capital of Sevilla, it is abundantly clear that the median Andalucían resident (who makes a monthly salary of €960) could not afford to stay in the tourist rentals in their own cities. 
  </p>
  <h2>
    Effects on Spanish Culture
  </h2>
  <img src='/static/images/antes_to_era_barrio.jpg'/>
  <p>
    For many people who have grown up in these cities, the explosion in tourism not only affects the economy or rental prices, but it's also <a href="https://es.euronews.com/viajes/2024/07/07/malaga-para-vivir-no-para-sobrevivir-los-malaguenos-protestan-contra-el-turismo-en-medio-d">slowly killing the soul</a> of their cities and gentrifying their culture. Longtime residents note that there are increasingly fewer local businesses in the city centers, more international chains, and that local festivals and traditions have turned into spectacles for tourists to take pictures and videos.
  </p>
  <p>
    One Málaga resident who has lived in the city for 18 years feels that “the center has practically turned into a playground for people from outside the city” (“el centro se ha convertido en un lugar de ocio prácticamente para la gente de fuera”). And it's not just the center: “in the outer neighborhoods, in Teatinos, it's seen as a recreational site” (“en los barrios de fuera, en Teatinos, también se ha visto como un sitio recreativo”), filled with bars and pubs.
  </p> 
  <p>
    Some locals also feel that because their cities put such a high value on tourism for the revenue it brings, tourists are often treated with more leniency than residents. For example, one Sevilla resident cited a number of times when she and her friends were fined for drinking in the streets, while foreigners doing the same thing were let go with a warning.
  </p>
  <p>
    In Málaga, another resident shared her frustration, but he also felt that it wasn't the fault of the tourists, but rather that the environment of tourism was responsible for such behavior. “We're part of the problem, too: we serve them alcohol, we let them mess things up, we sell them things at a higher price…but it isn't the tourist's fault…the issue is that we allow it: imagine that you go to a place where you can do whatever you want, and there's no problem” (“Nosotros tenemos el problema también: nosotros les servimos el alcohol, permitimos que la líen, les vendemos a más precio las cosas…pero bueno lo dicho la culpa no es del turista, la culpa es que permitimos…Imagínate que vas a un sitio donde puedes hacer lo que quieras y no hay problema”).
  </p>
  <p>
    Others, however, are grateful to tourism for the attention it brings to their cities. Another resident of Sevilla, originally from Peru, mentioned that because the streets feel safer, with less delinquency, people felt safe coming to the city. He also appreciated that because of the attention that tourism brings to historical sites, the government spends more resources conserving them. "No hay nada mejor que llegar a un sitio y saber que siempre ha sido así" ("There's nothing better than arriving at a place and knowing that it's always been this way"). The downside to such conservation, however, is that other neighborhoods can be abandoned in the effort to maintain parts of the city popular with tourists, and left without as many resources. 
  </p>
  <p>
    None of these residents, however, in my conversations with them, had the disdain for tourists that headlines would have me believe (though it's worth keeping in mind that they all knew they were talking to a foreigner). The most common comment I heard was, “Well, I’m a tourist when I go to other places, so why should tourism here bother me?” (“También soy turista cuando voy a otros sitios, a mi no me molesta que haya turismo.”) But when asked about housing, nobody knew how they would save enough money to buy a residence, unless it was inherited from a family member, and for many it was something of a far-off dream than a goal to work towards. Though the government has recently made some big swings in an attempt to assuage public fears of an out-of-control housing market, through taxation and regulation, locals are distrustful: “El gobierno debería comprarse una vida y dejarse de robar a la gente.”
  </p>
</body>