<!DOCTYPE html>
<html>
<head>
  <title>Tourism and Housing in Andalucía</title>
  <style>
    body {
      margin: 10vw;
      margin-top: 5vw;
    }
    img, iframe {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    iframe {
      height: 40vh;
    }
  </style>
</head>
<body>
  <h1>Tourism and Housing in Andalucía</h1>
  <h4>Jaya Subrahmanyan</h4>
  <p>
    Intro <br/><br/>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nunc sapien, mattis nec finibus eget, condimentum sit amet purus. Cras sed lorem non enim ornare rutrum. In nec magna vel nibh pellentesque lacinia id a nulla. Nunc tempus ullamcorper lorem in posuere. Suspendisse potenti. Curabitur et erat tincidunt, imperdiet dolor ac, cursus velit. In at dui tincidunt, vestibulum purus eget, consectetur sapien. Curabitur eros magna, posuere eleifend nunc quis, dignissim euismod nulla. Donec ac enim ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis bibendum massa. Aenean suscipit venenatis risus, non pellentesque ligula viverra sed. Nullam convallis tempor enim, et interdum lectus. Phasellus id risus luctus, mollis est in, aliquam arcu.
    <br/><br/>
    Curabitur consequat odio eu dolor tincidunt tempor. Nunc ut nisl faucibus, suscipit justo in, tristique ante. Duis eget dolor euismod, rutrum risus aliquet, semper neque. Vestibulum auctor, erat sit amet sodales aliquam, nisl leo fringilla tellus, eu vestibulum dolor justo ac metus. Donec ac nisl lacus. Maecenas euismod et lorem vel sollicitudin. Phasellus aliquam elementum odio, sed commodo risus vestibulum vitae. Maecenas ultrices sem eget erat auctor tincidunt.
  </p>
  <img src='/static/images/malaga_para_vivir.jpg'/>
  <h2>
    Dynamics of the Housing Market
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nunc sapien, mattis nec finibus eget, condimentum sit amet purus. Cras sed lorem non enim ornare rutrum. In nec magna vel nibh pellentesque lacinia id a nulla. Nunc tempus ullamcorper lorem in posuere. Suspendisse potenti. Curabitur et erat tincidunt, imperdiet dolor ac, cursus velit. In at dui tincidunt, vestibulum purus eget, consectetur sapien. Curabitur eros magna, posuere eleifend nunc quis, dignissim euismod nulla. Donec ac enim ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis bibendum massa. Aenean suscipit venenatis risus, non pellentesque ligula viverra sed. Nullam convallis tempor enim, et interdum lectus. Phasellus id risus luctus, mollis est in, aliquam arcu.
    <br/><br/>
    Curabitur consequat odio eu dolor tincidunt tempor. Nunc ut nisl faucibus, suscipit justo in, tristique ante. Duis eget dolor euismod, rutrum risus aliquet, semper neque. Vestibulum auctor, erat sit amet sodales aliquam, nisl leo fringilla tellus, eu vestibulum dolor justo ac metus. Donec ac nisl lacus. Maecenas euismod et lorem vel sollicitudin. Phasellus aliquam elementum odio, sed commodo risus vestibulum vitae. Maecenas ultrices sem eget erat auctor tincidunt.
  </p>
  <h2>
    Short-term Tourist Rentals
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nunc sapien, mattis nec finibus eget, condimentum sit amet purus. Cras sed lorem non enim ornare rutrum. In nec magna vel nibh pellentesque lacinia id a nulla. Nunc tempus ullamcorper lorem in posuere. Suspendisse potenti. Curabitur et erat tincidunt, imperdiet dolor ac, cursus velit. In at dui tincidunt, vestibulum purus eget, consectetur sapien. Curabitur eros magna, posuere eleifend nunc quis, dignissim euismod nulla. Donec ac enim ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis bibendum massa. Aenean suscipit venenatis risus, non pellentesque ligula viverra sed. Nullam convallis tempor enim, et interdum lectus. Phasellus id risus luctus, mollis est in, aliquam arcu.
    <br/><br/>
    Curabitur consequat odio eu dolor tincidunt tempor. Nunc ut nisl faucibus, suscipit justo in, tristique ante. Duis eget dolor euismod, rutrum risus aliquet, semper neque. Vestibulum auctor, erat sit amet sodales aliquam, nisl leo fringilla tellus, eu vestibulum dolor justo ac metus. Donec ac nisl lacus. Maecenas euismod et lorem vel sollicitudin. Phasellus aliquam elementum odio, sed commodo risus vestibulum vitae. Maecenas ultrices sem eget erat auctor tincidunt.
  </p>
  <iframe src="/vivienda-malaga/en"></iframe>
  <iframe src="/vivienda-sevilla/en"></iframe>
  <h3>
    AirBnB
  </h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nunc sapien, mattis nec finibus eget, condimentum sit amet purus. Cras sed lorem non enim ornare rutrum. In nec magna vel nibh pellentesque lacinia id a nulla. Nunc tempus ullamcorper lorem in posuere. Suspendisse potenti. Curabitur et erat tincidunt, imperdiet dolor ac, cursus velit. In at dui tincidunt, vestibulum purus eget, consectetur sapien. Curabitur eros magna, posuere eleifend nunc quis, dignissim euismod nulla. Donec ac enim ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis bibendum massa. Aenean suscipit venenatis risus, non pellentesque ligula viverra sed. Nullam convallis tempor enim, et interdum lectus. Phasellus id risus luctus, mollis est in, aliquam arcu.
    <br/><br/>
    Curabitur consequat odio eu dolor tincidunt tempor. Nunc ut nisl faucibus, suscipit justo in, tristique ante. Duis eget dolor euismod, rutrum risus aliquet, semper neque. Vestibulum auctor, erat sit amet sodales aliquam, nisl leo fringilla tellus, eu vestibulum dolor justo ac metus. Donec ac nisl lacus. Maecenas euismod et lorem vel sollicitudin. Phasellus aliquam elementum odio, sed commodo risus vestibulum vitae. Maecenas ultrices sem eget erat auctor tincidunt.
  </p>
  <iframe src="/airbnb-malaga/en"></iframe>
  <iframe src="/airbnb-sevilla/en"></iframe>
  <img src='/static/images/abolicion_airbnb.jpg'/>
  <h2>
    Effects on Culture and Politics
  </h2>
  <img src='/static/images/antes_to_era_barrio.jpg'/>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nunc sapien, mattis nec finibus eget, condimentum sit amet purus. Cras sed lorem non enim ornare rutrum. In nec magna vel nibh pellentesque lacinia id a nulla. Nunc tempus ullamcorper lorem in posuere. Suspendisse potenti. Curabitur et erat tincidunt, imperdiet dolor ac, cursus velit. In at dui tincidunt, vestibulum purus eget, consectetur sapien. Curabitur eros magna, posuere eleifend nunc quis, dignissim euismod nulla. Donec ac enim ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis bibendum massa. Aenean suscipit venenatis risus, non pellentesque ligula viverra sed. Nullam convallis tempor enim, et interdum lectus. Phasellus id risus luctus, mollis est in, aliquam arcu.
    <br/><br/>
    Curabitur consequat odio eu dolor tincidunt tempor. Nunc ut nisl faucibus, suscipit justo in, tristique ante. Duis eget dolor euismod, rutrum risus aliquet, semper neque. Vestibulum auctor, erat sit amet sodales aliquam, nisl leo fringilla tellus, eu vestibulum dolor justo ac metus. Donec ac nisl lacus. Maecenas euismod et lorem vel sollicitudin. Phasellus aliquam elementum odio, sed commodo risus vestibulum vitae. Maecenas ultrices sem eget erat auctor tincidunt.
  </p>
</body>